<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Current Electrical Engineering Graduate student at Arizona State University actively seeking Full time positions to solve real world challenges in the field of Controls, Automation and Robotics. Industry Experience with NI LabVIEW, MATLAB and PLC programming.</p>
	<p> Let's build something creative and innovative ! </p>
<center>
    <br>
       <a class="button" href="https://drive.google.com/open?id=15hZw0iipenHOKV4JTQCPTRoGci85RuY4" target="_blank">Resume</a>
	</center></p>
    </div><!--//summary-->
</section><!--//section-->
