<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Electrical Engineer with an experience in the field of Semiconductor Metrology and Applications, Lithography, Controls, Automation and Robotics with NI LabVIEW, MATLAB and PLC programming.</p>
	<center> <p> Connect with me on LinkedIn </p> </center>
<center>
    <br>
       <a class="button" href="https://www.linkedin.com/in/abhinavkarthiks/" target="_blank">Connect with me on Linkedin!</a>
	</center></p>
    </div><!--//summary-->
</section><!--//section-->
