 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Master of Science in Electrical Engineering (Control Systems)</h4>
    <h5 class="meta">Arizona State University</h5>
    <div class="time">Aug 2016 - May 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bachelor of Engineering in Electronics and Instrumentation</h4>
    <h5 class="meta">Anna University</h5>
    <div class="time">Aug 2011 - May 2015</div>
</div><!--//item-->
</div><!--//education-container-->
