<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Electrical Engineering Summer Inter</h3>
                            <div class="time">June 2017 - August 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Nokia Bell Labs, New Jersey</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>•	Worked alongside the Optical networks and devices research wing to build a fast-tunable WDM optical filter that will be implemented in next generation PON networks. Filter was designed using a MEMS chip with fabry-perot filter and tilt control was achieved using electromagnetics.</p>  
                        <p>•	Implemented a Bang-Bang controller using NI LabVIEW to achieve wavelength switching within 5 milliseconds in the optical filter by controlling the amount of current passed to the coil in the electromagnetic setup. Built an optical filter that has a quality factor of 50 which has large tilting angles (+/- 75•) that can allow multiple wavelengths. Helped in writing low level BASIC codes with various instruments (Agilent 33220A).</p>
                        <p>•	Using MATLAB/SIMULINK, the plant was system Identified. Performed real time acquisitions using NI-DAQ, HP-DAQ using CAN bus architecture. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Google, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
