<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Electrical Engineering Summer Intern</h3>
                            <div class="time">June 2017 - August 2017</div>
                        </div><!--//upper-row-->
                      <img src="https://www.bell-labs.com/prize/files/large/ef2753dbf7109150bb6828c3b5beb2fa.png"
     width="100"
     height="40">
                      <div id="container">
                        <div id="image" style="float:left;">
        <img src="https://www.bell-labs.com/prize/files/large/ef2753dbf7109150bb6828c3b5beb2fa.png" width="100" height="30" align="left"/>
                        </div>
                        <div class="company">Nokia Bell Labs, New Jersey</div>
                        </div><!--//meta-->
                  </div>
                    <div class="details">
                        <p style="text-align:justify">•	Worked alongside the Optical networks and devices research wing to build a fast-tunable WDM optical filter that will be implemented in next generation PON networks. Filter was designed using a MEMS chip with fabry-perot filter and tilt control was achieved using electromagnetics.</p>  
                        <p style="text-align:justify">•	Implemented an open-loop controller using NI LabVIEW to achieve wavelength switching within 5 milliseconds in the optical filter by controlling the amount of current passed to the coil in the electromagnetic setup. </p>
                        <p style="text-align:justify">• Built an optical filter that has a quality factor of 50 which has large tilting angles (+/- 75•) that can allow multiple wavelengths. Helped in writing low level BASIC codes with various instruments (Agilent 33220A).</p>
                      <p style="text-align:justify">•	Using MATLAB/SIMULINK, the plant was system Identified. Performed real time acquisitions using NI-DAQ, HP-DAQ using CAN bus architecture. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Control Systems Design and Simulation Engineer (Voluntary)</h3>
                            <div class="time">Oct 2016 - May 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">AZLoop - Arizona's SpaceX competition Team</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p style="text-align:justify">•	Developed basic controls for the pod with various devices like temperature/pressure sensors and other electromechanical devices. Used NI DAQ to acquire real time data from these devices. Programmed the microcontrollers on board for central organization and commands.</p>
                          <p style="text-align:justify">• Used NI LabVIEW and CompactRIO (cRIO 9074) controllers to implement the control systems on the pod. Aided with developing the architecture with redundant controllers -modelled, tested the integrated system with Hardware-in-the-loop</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">In-Plant Electrical Engineering Trainee </h3>
                            <div class="time">June 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Chennai Petroleum Corporation Limited</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">•	Worked alongside central control room engineers on Electrical, Power and Control systems division of the refineries. Monitored and controlled various parameters of the plant: the temperature, pressure, flow of chemicals with the help of PLC and SCADA. Learnt basics of Allen Bradley and Siemens PLCs and SCADA (InTouch), layouts in AutoCAD (Electrical).</p>
                        <p style="text-align:justify">•	Operated high power and voltage equipment in the central Power station. Interpreted technical realization of process flow using PIDs and Electrical control systems and ensured LOTO (Lock-out Tag-Out) for safe shutdown. Collaborated with Test engineers for controlling valves, EM-Sensors (pressure, Temperature) & common field instruments.</p> 
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Applications Developer</h3>
                            <div class="time">June 2015 - July 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Inautix Technologies, a Bank of New York Mellon Company</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">•	Database architect of the Broker dealer services team. Used Oracle-SQL and Informatica to maintain a central repository for the team and interacted with clients, thereby accessing the data and performed integration into applications. Constant interactions with clients, assessed their needs, thereby improving the code every day and making it highly usable. Expertise achieved in high performance ETL tools: Informatica for data entry and management.</p>
                        <p style="text-align:justify">•	Worked on UNIX/Command Line operating systems to access secure servers for data manipulation and editing purposes. Developed basic project management skills and proficiency in Microsoft suite, Windows Servers and OS.</p> 
                    </div><!--//details-->
                </div><!--//item-->
  
              <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Applications Developer Intern</h3>
                            <div class="time">Feb 2015 - June 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Inautix Technologies, a Bank of New York Mellon Company</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p style="text-align:justify">• Acquired knowledge on Financial servicing and US Financial markets.(Completed Level Zero Certifications in Financial Markets)</p>
                        <p style="text-align:justify">•	Learnt risk management and behavioral finance principles to understand the functioning of securities, insurance, and banking industries. Developed a full portfolio management project using REST services, played the role of scrum master for the project team.</p> 
                    </div><!--//details-->
                </div><!--//item-->
  
            </section><!--//section-->
