<div class="interests-container container-block">
<h2 class="container-block-title">Coursework</h2>
<ul class="list-unstyled interests-list">
<li>Computer Controlled Systems</li>
<li>Linear Systems Theory</li>
<li>Feedback Systems</li>
  <li>Design of Experiments</li>
  <li>System Indentificaton</li>
  <li>Digital Control and Design</li>
  <li>Random Signal Theory</li>
  <li>Artificial Neural Networks</li>
  <li>Multivariable Control Systems</li>
  <li>Perception in Robotics</li>
  <li>Logic and Distributed Control Systems</li>
  <li>Process Control</li>
  <li>Industrial Instrumentation</li>
  <li>Electrical Machines</li>
  </ul>
  <br>
  <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="abhinavkarthiks">
    <a class="LI-simple-link" href='https://www.linkedin.com/in/abhinavkarthiks?trk=profile-badge'>Abhinav Karthik Sridhar</a></div>
</div><!--//interests-->

