<div class="interests-container container-block">
<h2 class="container-block-title">Interests</h2>
<ul class="list-unstyled interests-list">
<li>Cricket</li>
<li>TechCrunch</li>
<li>Cooking</li>
</ul>
</div><!--//interests-->




<div class="remove-container container-block">
<form>
<input type="button" value="Resume Download" onclick="window.location.href='https://drive.google.com/file/d/19wKdl07eIV-wN2EICf3iq8HwVS6rrBWg/view?usp=sharing'" />
</form>
<ul class="list-unstyled interests-list">
</ul>
</div><!--//interests-->
