<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Academic/Research Projects</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
                <div class="item">
                  <div class="meta">
                  <div class="upper-row">
                    <h3 class="job-title">SMART BIKE : Autonomous Self Driving bike with Perception</h3>
                  <div class="time">Dec 2017 - Present</div>
                    </div>
                  <div class="company">Robotics and Intelligent Systems Laboratory, Arizona State University </div>
                    
                  </div>
                  
                  <span class="project-tagline"><p style="text-align:justify">• Designing the central control system of the Bike by using mechanical modelling and first principles under the guidance of Dr.Wenlong Zhang. Built a plant model and designed a PID controller using controller tuning methods in MATLAB/SIMULINK.</p>
                  <p style="text-align:justify">• Developing robot learning techniques on Human-Bike interactions and reducing bike operations cost and improving bike share logistics.</p>  
                  <p style="text-align:justify">• Using SCANSE sweep LIDAR and Raspberry Pi V2 8MP 1080p camera to provide computer vision, object detection and navigation</p></span>
<a href="https://ibb.co/ig79Ln"><img src="https://preview.ibb.co/cQmfRS/Bike1.png" alt="Bike1" border="0" width="296" height="296"></a>
<a href="https://imgbb.com/"><img src="https://image.ibb.co/c1mrY7/Bike2.png" alt="Bike2" border="0" width="296" height="296"></a>
              </div><!--//item-->
  <br>
  <div class="item">
    <div class="meta">
      <div class="upper-row">
                    <h3 class="job-title">Autonomous Line Following Robot using System Identification</h3>
        <div class="time">Jan 2017 - May 2017</div>
      </div><!--//upper-row-->
                  <div class="company">Academic Research Project,MAE 508/CHE 598 Digital Design and Control, ASU</div>
    </div><!--//meta-->
                    <span class="project-tagline"><p style="text-align:justify">• Worked on building an autonomous line following robot that could follow a coloured line. Used DFRobot Turtle with Arduino Uno and QTC-8RC Reflectance array sensor for line sensing and navigation </p><p style="text-align:justify">• Formulated the problem as a closed-loop system with Angular Position as the output and the input as a variable affecting both the actuators. The speed bias was kept as a constant for the motors</p>
    <p>• Used Weighted Frequencies/Loop shaping methods to identify the robot's transfer function and then designed a controller for bandwidth and robustness.</span>
                </div><!--//item-->
  
  
                <div class="item">
                  <div class="meta">
                    <div class="upper-row">
                    <h3 class="job-title">Control of a Tip Tilt Platform for Parallelization of plates</h3>
                      <div class="time">Sep 2017 - Dec 2017</div>
                    </div>
                      <div class="company">Nano-Engineered Thermal Radiations Laboratory, Arizona State University</div>
                  </div>
                                      <span class="project-tagline"><p style="text-align:justify">• Worked on control of a Tip-Tilt plus Z stage platform for parallelization of two plates under the guidance of Dr.Liping Wang. Designed an automated NI LabVIEW program to achieve control over the tip-tilt platform by switching between the actuators and ensuring robustness.</p><p style="text-align:justify">• Used NSC200 - NewPort controller to switch between manual and automatic modes. Interacted and Integrated with various instruments - Keithley 2000 , Tektronix Oscilloscope, Standa development kit.</p></span>
                </div><!--//item-->
                <div class="item">
                  <div class="meta">
                    <div class="upper-row">
                    <h3 class="job-title">Double Moon Classification problem using Multi Layer Perceptron</h3>
                      <div class="time">Aug 2017 - Dec 2017</div>
                    </div>
                  <div class="company">Academic Research Project - EEE 511 Artificial Neural Computation </div>
                  </div>
  <span class="project-tagline"><p style="text-align:justify">• Worked on creating a multilayer perceptron using artificial neural network techniques on the classic double moon classification problem for various distances between the moons.</p>
                  <p style="text-align:justify">• Used Multilayer Perceptron to solve the linear classification problem. Trained the data using Levenberg-Marquardt, Backpropagation, Backpropagation with momentum and solved the double moon classification for various values of distances between the half moons.</p></span>
                </div><!--//item-->
                <div class="item">
                  <div class="meta">
                    <div class="upper-row">
                    <h3 class="job-title">Time Series prediction using Artificial Neural Networks</h3>
                      <div class="time">Aug 2017 - Dec 2017</div>
                    </div>
                  <div class="company">Academic Research Project - EEE 511 Artificial Neural Computation </div>
                  </div>
  <span class="project-tagline"><p style="text-align:justify">• Forecasted future time data with limited data using a gradient descent algorithm in Neural networks using MATLAB.</p>
                  <p style="text-align:justify">• Used a perceptron with one hidden layer and multiple neurons to predict the data. Data was extracted from an excel sheet, then was normalized to values between (0,1) and then the narnet was created</p>
                  <p style="text-align:justify">• Data was trained using various algorithms including Levenberg-Marquardt, Bayessian Regularization and Back propagation with momentum.</p></span>
                </div><!--//item-->
                <div class="item">
                  <div class="meta">
                    <div class="upper-row">
                    <h3 class="job-title">Design & Modelling of a car cruise Control system using PC-104</h3>
                         <div class="time">Aug 2016 - Dec 2016</div>
                      <h3 class="job-title">and hardware-in-the-loop</h3>
                    </div>
                  <div class="company">Academic Research Project - EEE 598 Feedback Systems Theory </div>
                  </div>
  <span class="project-tagline"><p style="text-align:justify">•	Obtained the differential equation of a car moving along a direction with opposing wind dynamics and gravity. <br>•	Performed Hardware-in-Loop (HIL) testing using the PC104 and also via a secure server connection.</p><p style="text-align:justify">•	Modelled and simulated the performance of the car with the help of Simulink and MATLAB for the linearized and Non-Linear models. Performed wind disturbance test for the speed control. Ongoing observations on stability.</p><p style="text-align:justify">•	Ensured performance comparing the HIL results and checking for proper synchronization between hardware and software.<br>•	Performed observability and controllability tests in MATLAB and checked for steady state outputs.</p></span>
                </div><!--//item-->
                <div class="item">
                  <div class="meta">
                    <div class="upper-row">
                    <h3 class="job-title">Master - Slave Robot (MS BOT): Thermal detection capable</h3>
                      <div class="time">Aug 2014 - May 2015</div>
                      <h3 class="job-title">robots for human search operations</h3>
                    </div>
                  <div class="company">Academic Research Project - Bachelor's Thesis, Anna University </div>
                  </div>
                  <span class="project-tagline"><p style="text-align:justify">•	Designed a stable and robust master slave robot configuration, fitted with thermal sensors using (LPC1700) ARM cortex M3 microprocessor with (SRF04) ultrasonic sensors for navigation to locate trapped humans in a disaster. Fitted the robot with cameras and GPS (PAM 7Q) to send the signal immediately to the control room in case of detection.</p><p style="text-align:justify">•	Achieved almost 93% accuracy in trial runs with good detection ability and high speed of response.</p></span>
                </div><!--//item-->
                  <div class="item">
                     <div class="meta">
                    <div class="upper-row">
                    <h3 class="job-title">Advanced Lighting Control system for a day-lit office</h3>
                      <div class="time">Aug 2014 - Dec 2014</div>
                       </div>
                    <div class="company">Academic Research Project - Control Systems, Anna University</div>
                    </div>
                    <span class="project-tagline"><p style="text-align:justify">•	Designed an efficient lighting control using photovoltaic PV sun meter to measure intensity sunlight and sending signal through a DAC to a controller which turns ON and OFF dimmable LEDs depending on the amount of light in the room.</p><p style="text-align:justify">•	Able to set room lighting levels with minimum energy usage also considering the ambient lighting standards.</p></span>
                </div><!--//item-->
              <div class="item">
                <div class="meta">
                    <div class="upper-row">
                    <h3 class="job-title">Border Navigation and Smart Tracking system </h3>
                      <div class="time">Jan 2014 - May 2014</div>
                      <h3 class="job-title">with Alarm and GPS</h3>
                  </div>
                <div class="company">Academic Research Project - Mini Project, Anna University </div>
                </div>
                <span class="project-tagline"><p style="text-align:justify">•	Project designed to help fishermen find the national borders of the country. A system built with an Arduino processor embedded with GPS, GSM and an alarm.</p><p style="text-align:justify">•	Default national sea limits are specified in the microprocessor. Alarm system activated once, unit crosses the national boundaries. GSM unit fitted alongside, to alert the control room immediately.</p></span>
                </div><!--//item-->
            </section><!--//section-->
